:root {
    --main-primary1-color: #FEAA09;
    --main-primary2-color: #343C6A;
    --main-primary3-color: #2D60FF;
    --main-secondary-color: #FE5C73;
    --main-dark-blue-gradient-color: #123288;
    --main-gray-color: #B1B1B1;
    --main-light-gray-color: #F5F7FA;
    --main-white-color: #FFFFFF;
    --main-green-color: #41D4A8;
    --main-slightly-desaturated-blue-color: #718EBF;
    
}